<div id="wordcards_chooser_cont_{{uniqid}}" class="{{cssprefix}}_deflang_chooser">
    {{{dropdownlist}}}
    <button type="button" class="btn btn-secondary" id="{{uniqid}}_setpref">{{#str}}choose_deflang, mod_wordcards{{/str}}</button>
</div>
{{^element.frozen}}
    {{#js}}
        require(['jquery','core/log','core/ajax','core/notification'],function($,log,ajax,notification) {
            //get controls
            var defbtn = $("#{{uniqid}}_setpref");
            var defselect = $("#wordcards_chooser_cont_{{uniqid}} select");

            //set handler to get set pref according to selection, and reload
           defbtn.on("click", function(e){
             var pref = defselect.val();
             if(pref==='{{activitydefault}}' || pref===''){
                //clear the preference
                pref = '';
             }
            ajax.call([{
                    methodname: 'mod_wordcards_set_user_preference',
                    args: {
                        name: 'wordcards_deflang',
                        value: pref
                    }
                }])[0].done(function(response) {
                    window.location.reload();
                }).fail(function() {
                    log.debug('user preference could not be set');
                    window.location.reload();
                })
           });
        });
    {{/js}}
{{/element.frozen}}