{{#str}}reportsmenutoptext, mod_wordcards{{/str}}
<div class="wordcards_reportsmenu_box">
    {{#reports}}
        <div class="wordcards_reportsmenu_item">
            <div class="wordcards_reportsmenu_itembutton">
                {{{button}}}
                {{text}}
            </div>
        </div>
    {{/reports}}
</div>