<div class="mod_wordcards_activity_header">
    <h3>{{#str}}bigtitle_wordpreview, mod_wordcards{{/str}}</h3>
    <div class="mod_wordcards_instructions">{{#str}}instructions_wordpreview, mod_wordcards{{/str}}</div>
</div>