<div class="mod_wordcards_word_wizard_oneresult" id="mod_wordcards_wwskeleton_{{termno}}" >
    <fieldset class="mod_wordcards_ww_fieldset border p-2">
        <legend class="w-auto">{{term}}</legend>
        <div class="container ml-0">
            <div class="row">

                    <div class="col-sm mod_wordcards_ww_onesense">
                        <div class="mod_wordcards_skeleton_box"></div>
                    </div>

                    <div class="col-sm mod_wordcards_ww_onesense">
                        <div class="mod_wordcards_skeleton_box"></div>
                    </div>
            </div>
        </div>
    </fieldset>
</div>